.price--content .title {
  text-align: center;
  color: #191919;
  margin-top: 55px;
}
.price--content .title p:nth-of-type(1) {
  font-size: 44px;
  font-weight: 700;
}
.price--content .title p:nth-of-type(2) span {
  display: inline-block;
  width: 130px;
  border-bottom: 4px solid #ff0048;
}
.gender--tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 35px;
}
.gender--tabs span {
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 7px 8px;
  box-sizing: border-box;
  width: 290px;
  border: 2px solid #ff0048;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: #ff0048;
  cursor: pointer;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.room--tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 45px;
  display: none;
}
.room--tabs span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #ff0048;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.price--room-tab {
  display: none;
}
.price--benefits {
  margin-top: 65px;
  padding-bottom: 55px;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
}
.price--benefits .content {
  position: relative;
  z-index: 10;
}
.price--benefits .content ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.price--benefits .content ul li {
  width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  margin-top: 35px;
}
.price--benefits .content ul li > div:nth-of-type(1) {
  width: 50px;
}
.price--benefits .content ul li > div:nth-of-type(1) > span {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #ff0048;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: 700;
}
.price--benefits .content ul li > div:nth-of-type(2) {
  width: 260px;
  font-size: 14px;
  margin-left: -35px;
  padding-top: 20px;
}
.price--benefits .title {
  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.benefits-ton {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.price--room-2 {
  margin-top: 85px;
}
.price--room-2 > span {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}
.price--room-2 ul {
  margin-top: 35px;
}
.price--room-2 ul > div {
  padding: 10px 0px;
}
.price--room-2 ul > div span {
  display: block;
  color: #ff0048;
  font-size: 14px;
  font-weight: 700;
}
.price--room-2 ul > li {
  list-style-type: none;
}
.price--room-2 ul > li:first-child {
  background-color: rgba(255, 0, 72, 0.2);
}
.price--room-2 ul > li:first-child .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(1) {
  margin: 5px 0px;
  width: 38%;
  position: relative;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 17px;
  font-weight: 700;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(1) > p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 6px;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(2) {
  width: 18%;
  text-align: center;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(2) p:nth-of-type(1) {
  color: white;
  background-color: #ff0048;
  font-size: 17px;
  min-height: 50%;
  font-weight: 700;
  position: relative;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 15px;
  color: #191919;
  min-height: 50%;
  position: relative;
  background-color: rgba(255, 0, 72, 0.3);
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(3) {
  width: 18%;
  text-align: center;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(3) p:nth-of-type(1) {
  color: white;
  background-color: #ff0048;
  font-size: 17px;
  min-height: 50%;
  font-weight: 700;
  position: relative;
}
.price--room-2 ul > li:first-child .content > div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 15px;
  color: #191919;
  min-height: 50%;
  position: relative;
  background-color: rgba(255, 0, 72, 0.3);
}
.price--room-2 ul > li:not(:first-child) .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) {
  width: 38%;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 15px;
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) > p:nth-of-type(2) {
  font-size: 13px;
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(2) {
  width: 18%;
  position: relative;
  background-color: rgba(255, 0, 72, 0.1);
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(2) > span {
  width: 100%;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 13px;
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(3) {
  width: 18%;
  position: relative;
  background-color: rgba(255, 0, 72, 0.1);
}
.price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(3) > span {
  width: 100%;
  height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 13px;
}
.price--room-2 ul > li:nth-child(2n) {
  background-color: #E0E0E0;
}
.price--reference {
  margin-top: 45px;
  font-size: 15px;
  color: #ff0048;
}
.red {
  color: #ff0048;
}
/*================ MEDIA 768 ============================*/
@media screen and (max-width: 768px) {
  .room--tabs span {
    margin-top: 20px;
  }
  .price--benefits {
    display: none;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(1) {
    width: 50%;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 15px;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 12px;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(2) {
    width: 22%;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 11px;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 11px;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(3) {
    width: 22%;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(3) p:nth-of-type(1) {
    font-size: 11px;
  }
  .price--room-2 ul > li:first-child .content > div:nth-of-type(3) p:nth-of-type(2) {
    font-size: 11px;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) {
    width: 50%;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) > p:nth-of-type(1) {
    font-size: 13px;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 11px;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(2) {
    width: 22%;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(2) > span {
    font-size: 11px;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(3) {
    width: 22%;
  }
  .price--room-2 ul > li:not(:first-child) .content > div:nth-of-type(3) > span {
    font-size: 11px;
  }
}
/*================ MEDIA 480 ============================*/
@media screen and (max-width: 480px) {
  .price--room-2 ul > li:first-child .content > div:nth-of-type(1) {
    min-height: 45px;
  }
}
