.reviews--content {
  padding-bottom: 65px;
}
.reviews--content .title {
  text-align: center;
  color: #191919;
  margin-top: 55px;
}
.reviews--content .title p:nth-of-type(1) {
  font-size: 44px;
  font-weight: 700;
}
.reviews--content .title p:nth-of-type(2) span {
  display: inline-block;
  width: 130px;
  border-bottom: 4px solid #ff0048;
}
.reviews--form {
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.reviews--form > div:nth-of-type(1) {
  width: 50%;
  height: 320px;
  background-color: #ff0048;
  position: relative;
}
.reviews--form > div:nth-of-type(1) p {
  padding-top: 40px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.reviews--form > div:nth-of-type(1) div {
  width: 60%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 200px;
}
.reviews--form > div:nth-of-type(1) div img {
  vertical-align: bottom;
  width: 100%;
}
.reviews--form > div:nth-of-type(2) {
  width: 50%;
  background-color: #E0E0E0;
  padding-left: 25px;
  box-sizing: border-box;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(1) {
  margin-top: 15px;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(1) input {
  width: 60%;
  height: 22px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(2) {
  margin-top: 15px;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(2) input {
  width: 60%;
  height: 22px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(3) {
  margin-top: 15px;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(3) i {
  cursor: pointer;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(4) {
  margin-top: 15px;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(4) textarea {
  width: 75%;
  height: 80px;
  padding-left: 5px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(5) {
  margin-top: 15px;
}
.reviews--form > div:nth-of-type(2) form > p:nth-of-type(5) input {
  width: 20%;
  height: 28px;
  cursor: pointer;
  border: none;
  background-color: #ff0048;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}
.reviews--comments-post {
  width: 70%;
  border-left: 4px solid #ff0048;
  color: #333333;
  margin-top: 30px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.reviews--comments-post > p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 700;
}
.reviews--comments-post > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
}
.reviews--comments-post > p:nth-of-type(3) {
  margin-top: 8px;
}
.reviews--comments-post > p:nth-of-type(3) i {
  font-size: 20px;
  color: #E0E0E0;
}
.reviews--comments-post > p:nth-of-type(4) {
  margin-top: 8px;
  font-size: 17px;
}
/*================ MEDIA 998 ============================*/
@media screen and (max-width: 998px) {
  .reviews--form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews--form > div:nth-of-type(1) {
    width: 100%;
    height: 400px;
  }
  .reviews--form > div:nth-of-type(1) div {
    width: 60%;
    height: 300px;
    line-height: 300px;
  }
  .reviews--form > div:nth-of-type(2) {
    width: 100%;
  }
}
/*================ MEDIA 768 ============================*/
@media screen and (max-width: 768px) {
  .reviews--form > div:nth-of-type(1) {
    height: 350px;
  }
  .reviews--form > div:nth-of-type(2) {
    padding-bottom: 20px;
  }
  .reviews--comments-post {
    width: 100%;
  }
  .reviews--comments-post > p:nth-of-type(1) {
    font-size: 16px;
  }
  .reviews--comments-post > p:nth-of-type(2) {
    font-size: 16px;
  }
  .reviews--comments-post > p:nth-of-type(3) i {
    font-size: 17px;
  }
  .reviews--comments-post > p:nth-of-type(4) {
    font-size: 16px;
  }
}
/*================ MEDIA 480 ============================*/
@media screen and (max-width: 480px) {
  .reviews--form > div:nth-of-type(1) {
    width: 100%;
    height: 300px;
  }
  .reviews--form > div:nth-of-type(1) div {
    width: 100%;
    height: 300px;
    line-height: 300px;
  }
  .reviews--form > div:nth-of-type(2) {
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(1) input {
    width: 100%;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(2) {
    margin-top: 15px;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(2) input {
    width: 100%;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(3) i {
    font-size: 18px;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(4) textarea {
    width: 100%;
  }
  .reviews--form > div:nth-of-type(2) form > p:nth-of-type(5) input {
    width: 90px;
    height: 28px;
  }
  .reviews--comments-post {
    width: 100%;
  }
  .reviews--comments-post > p:nth-of-type(1) {
    font-size: 14px;
  }
  .reviews--comments-post > p:nth-of-type(2) {
    font-size: 14px;
  }
  .reviews--comments-post > p:nth-of-type(3) i {
    font-size: 15px;
  }
  .reviews--comments-post > p:nth-of-type(4) {
    font-size: 14px;
  }
}
